{% extends "templates/web.html" %}
{% import "templates/includes/stages.html" as stages %}

{% macro display_section(title, content, is_fieldname=True, two_columns=False, permission_field=None, hide_empty_fields=True) %}
	{% set p = namespace(
		override_field_permissions=not is_fieldname,
		permitted_fields=[],
		parent_permission=not permission_field or has_field_permission(permission_field)
	) %}
	{% if content is iterable and content is not string %}
		{% for fieldname in content %}
			{% if has_field_permission(fieldname) and (doc.get(fieldname) or not hide_empty_fields) %}
				{% set x = p.permitted_fields.append(fieldname) %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% if p.parent_permission and (p.permitted_fields or p.override_field_permissions) %}
	<div class="card mb-3">
		<div class="card-header">{{ _(title) }}</div>
		<div class="card-body">
			{% if content is iterable and content is not string %}
				{% for fieldname in p.permitted_fields %}
					{% if not two_columns or loop.index % 2 != 0 %}
					<div class="form-group row">
					{% endif %}
						<label class="col-sm-3 col-form-label"><b>{{ _(doc.meta.get_field(fieldname).label) }}</b></label>
						<div class="{% if two_columns %}col-sm-3{% else %}col-sm-9{% endif %} form-control">{{ doc.get_formatted(fieldname) }}</div>
					{% if not two_columns or loop.index % 2 == 0 %}
					</div>
					{% endif %}
				{% endfor %}
			{% elif is_fieldname %}
				{{ doc.get_formatted(content) }}
			{% else %}
				{{ content }}
			{% endif %}
		</div>
	</div>
	{% endif %}
{% endmacro %}

{% macro supplier_payments_table() %}
	<table class="table">
		<thead>
			<tr>
				<th>{{ _("Supplier") }}</th>
				<th>{{ _("PO Amount") }}</th>
				<th>{{ _("Amount Billed") }}</th>
				<th>{{ _("Amount Paid") }}</th>
				<th>{{ _("Amount Pending") }}</th>
			</tr>
		</thead>
		<tbody>
		{% if supplier_map %}
			{% for supplier in supplier_map %}
				<tr>
					<td>{{ supplier }}</td>
					<td>{{ frappe.format(supplier_map[supplier].po_amount, doc.meta.get_field('total_po_amount'), doc) }}</td>
					<td>{{ frappe.format(supplier_map[supplier].purchase_cost, doc.meta.get_field('total_po_amount'), doc) }}</td>
					<td>{{ frappe.format(supplier_map[supplier].paid_amount, doc.meta.get_field('total_po_amount'), doc) }}</td>
					<td>{{ frappe.format(supplier_map[supplier].outstanding_amount, doc.meta.get_field('total_po_amount'), doc) }}</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td class="text-center" colspan="5">{{ _("No activity") }}</td>
			</tr>
		{% endif %}
		</tbody>
	</table>
{% endmacro %}

{% macro print_comment_section(comment_section, comment_list) %}
<d`iv class="comments">
	{% include 'templates/includes/project_comments.html' %}
</div>
{% endmacro %}

{% block style %}
	<style>
		{% include 'templates/includes/stages.css' %}
	</style>
{% endblock %}

{% block script %}
<script>
	window.cur_project = "{{ doc.name|replace('\"', '\\\"') }}";
	{% include 'templates/includes/stages.js' %}
</script>
<script>
frappe.boot = {
	sysdefaults: {
		float_precision: parseInt("{{ frappe.get_system_settings('float_precision') or 3 }}"),
		date_format: "{{ frappe.get_system_settings('date_format') or 'yyyy-mm-dd' }}",
	}
};
// for backward compatibility of some libs
frappe.sys_defaults = frappe.boot.sysdefaults;
$(".file-size").each(function() {
	$(this).text(frappe.form.formatters.FileSize($(this).text()));
});
</script>
<script type="text/javascript" src="/assets/js/control.min.js"></script>
<script type="text/javascript" src="/assets/js/dialog.min.js"></script>
<script type="text/javascript" src="/assets/js/moment-bundle.min.js"></script>
<script type="text/javascript" src="/assets/frappe/node_modules/vue/dist/vue.js"></script>
<script>
	Vue.prototype['__'] = window['__'];
	Vue.prototype.frappe = window.frappe;
</script>
<script type="text/javascript" src="/assets/js/project_milestones.min.js"></script>
{% endblock %}

{% block page_content %}
	{{ display_section("Retail Unit and Tenant Information", [
		'project_name',
		'project_unit_number',
		'project_location',
		'project_type',
		'brand',
		'retailer',
		'retail_delivery_manager',
		'design_consultant',
		'fitout_contractor',
		'mep_contractor'
	]) }}

	{{ display_section("Authority Milestones", [
		'authority_drawings_submittal',
		'electrical_meter_request',
		'authority_inspections_request'
	], permission_field='portal_authority_milestones_section') }}

	{{ display_section("Fit-Out and Trading Information", [
		'handover_date',
		'prestart_meeting',
		'start_onsite',
		'fitout_complete',
		'merchandising_date',
		'open_for_trading',
		'closeout_completed'
	], permission_field='portal_fitout_and_trading_info_section') }}

	{{ display_section("Project Costing and Billing", [
		'total_po_amount',
		'total_outstanding_amount',
		'total_paid_amount',
		'total_purchase_cost',
	], two_columns=True, permission_field='project_details', hide_empty_fields=False) }}

	{{ display_section("Supplier Payment", supplier_payments_table(), is_fieldname=False, permission_field='portal_supplier_payments_section') }}

	{{ display_section("General Notes", 'notes', permission_field='notes') }}

	{% for timeline in stage_map %}
		{{ stages.display_stages(stage_map[timeline], timeline, has_field_permission, can_clear_attachments, single_stage_timelines) }}
	{% endfor %}

	{% if has_field_permission('portal_comments_section') %}
		{% for comment_section in comment_map %}
			{{ display_section(comment_section, print_comment_section(comment_section, comment_map[comment_section]), is_fieldname=False) }}
		{% endfor %}
	{% endif %}
{% endblock %}